<div class="row content-box">

  <div class="row">
    <a href="javascript:;" class="col-md-offset-1" ng-click="back()"><i class="glyphicon glyphicon-chevron-left"></i> 返回列表頁</a>
  </div>

  <div class="col-md-2 col-md-offset-1" style="margin-top:15px; padding:5px;">
    <img ng-src="{{phone.image}}" width="160px" height="160px" />
  </div>

  <div class="col-md-7">
    <div class="row">
      <h4>{{phone.title}}</h4>
    <br/>

    <p>{{phone.description}}</p>
  </div>
  
  <div class="row">
    <div class="pull-right">
      <span class="pointer">
        <a href="javascript:;">
          <i class="glyphicon glyphicon-pencil"></i> 編輯
        </a>
      </span>
      &nbsp;&nbsp;
      <span class="pointer">
        <a href="javascript:;">
          <i class="glyphicon glyphicon-ok"></i> 存檔
        </a>
      </span>
    </div>
  </div>


</div>