<div class="row">
  <div class="col-md-12 pull-left">
    <button type="button" class="btn btn-primary btn-add" ng-click="add()">新增資料</button>
  </div>
</div>

<div class="row" ng-repeat="phone in phones">
  
  <div class="col-md-2 col-md-offset-1" style="margin-top:15px; padding:5px;">
    <img ng-src="{{phone.image}}" width="160px" height="160px" />
  </div>

  <div class="col-md-7">
    <div class="row">
      <i class="icon-star-empty"></i>
        <h4><a href="javascript:;" ng-click="detail(phone)">{{phone.title}}</a></h4>
    </div>
    
    <br/>

    <div class="row">
      <p>{{phone.description}}</p>
      <button class="btn btn-danger btn-delete pull-right" ng-click="remove(phone)">刪除</button>
    </div>
  </div>
  
  <hr class="col-md-10 col-md-offset-1">
  
</div>